
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.125rem;
    padding: 1rem;
    background-color: var(--primary);

    border-bottom: 4px solid black;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

/* Reglas comportamiento físico*/
.hamburger{
    display: none;
}

#arrow-home{
    display: none;
}

#logo-container{
    margin-left: 0.5rem;
    display: inline-block;
}

#pages-container{
    width: 45rem;
}

#pages-container ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#pages-container ul li{
    flex-grow: 1;
    text-align: center ;
}

/*Reglas específicas*/
#pages-container ul li{
   list-style: none;

}

#logo-container a, #pages-container ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}
#logo-container a{
    font-size: 1.8rem;
    font-weight: bold;
}
/* Underline excepto en el último elemento */
#pages-container ul li:hover:not(:nth-child(4)){
    color: var(--color-text-general);
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
    transition: 0.6s ease;
}

/* BOTON REGISTRO HEADER*/
#pages-container ul li:nth-child(4) a{
    padding: 0.35em 0.6em;
    outline: var(--color-green-letter) solid 3px;
    border-radius: 50px;
}

#pages-container ul li:nth-child(4) a:hover{
    background-color: var(--color-green-letter);
    transition: background-color 0.3s ease;
}
/* FIN BOTON REGISTRO HEADER*/


@media (max-width: 1024px){
    /* Reglas comportamiento físico*/
    #pages-container{
        display: none;
    }
    #arrow-home{
        display: none;
    }
    .hamburger{
        appearance: none;
        background-color: var(--primary);
        border: none;
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        position: relative;
    }
    .hamburger span{
        display: inline-block;
        width: 100%;
        height: 0.5em;
        background-color: black;
        border-radius: 10px;
        transition: all  0.2s ease-in-out;
    }

    .hamburger.active span:nth-of-type(1) {
        transform: rotate(45deg) translateY(11px) translateX(11px);


    }
    .hamburger.active span:nth-of-type(2) {
        width: 0;
    }

    .hamburger.active span:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-11px) translateX(11px);
    }

    .hamburger.active + #pages-container {
        background-color: var(--primary);
        position: absolute;
        display: block;
        width: 20rem;
        height: calc(100vh -  4.125rem);

        top:66px;
        right: 0;
    }
    .hamburger.active + #pages-container .menu-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30em;
        padding: 1em;

    }
    .hamburger.active + #pages-container .menu-container li{
        padding: 3rem 1rem;
        text-align: center;

    }


    @media (max-width: 430px){
        body{
            padding-top: 0px;
        }
        nav{
            width: 100vw;
            position: initial;
        }
        .hamburger{
            display: none;
        }

        #pages-container{
            display: block;
            position: fixed;
            background-color: var(--primary);
            z-index: 999;
            width: 100%;
            top:calc(100vh -  4.125em);
            left: 0;
            bottom: 0;
            overflow-x: auto;
            border-top: 4px solid var(--color-text-general);
        }

        #logo-container a{
            font-size: 1.6em;
        }

        #pages-container ul #arrow-home{
            margin: 0;
            flex-grow: initial;
            display: inline-block;
            background-color: var(--color-green-letter);
        }

        #pages-container #arrow-home a img{
            width: 1em;
        }

        #pages-container ul li{
            padding: 1em;
        }

        #pages-container ul li a{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}