.error-404{
    line-height: 2.5em;
    margin: 0;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}


.error-404-container {
    margin: 6em auto;
}

.error-404-container h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}

.error-404-container p {
    margin: 0 auto;
    width: 280px;
}

#dino{
    width: 20em;
    height: 20em;
}


@media only screen and (max-width: 280px) {

    .error-404,
    p {
        width: 95%;
    }

    .error-404-container h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }

}