@import url("components/header.css");
@import url("components/Descubre.css");
@import url("components/Calas.css");
@import url("components/footer.css");
@import url("components/no-found-page.css");
@import url("components/formulario.css");
@import url("components/register-form.css");
@import url("components/dark_mode.css");

:root{
    --color-green-letter: #DDFB32;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*:root{
    --primary: #F8F5EE;
    --color-font: black;
    --color-green-letter: #DDFB32;
    --color-white: #FFFFFF;
}*/

/* Dentro de esta etiqueta utilizamos un  background-color
para darle un color de fondo a nuestra página web
y utilizamos font-family para darle un mejor estilo a las letras*/


body{
    width: 100vw;
    background-color: var(--color-bck);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-font);
    overflow-x: hidden;
}

main{
    padding: 10em 0;
}

video {
    margin-bottom: 6em;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;

}

/* Comportamiento físico articles main*/
#encuentra-container, #contacta-container {
    width: 100vw;
    height: 47.125em;
    padding: 0 3em;
    display: flex;
    gap: 4em;
    flex-direction: row;
}

#encuentra-container picture, #contacta-container picture{
    width: 50%;
    background-clip: content-box;
}

#encuentra-container div, #contacta-container div{
    width: 50%;
}

/* Relgas específicas imagenes, texto y alineación */
#contacta-container{
    flex-direction: row-reverse;
    margin-top: 4em;
}
/*Highlight reglas específicas */

.highlight {
    background-color: lightblue;
}
#encuentra-container picture{
    background-image: url('../images/home_page/cala-home-descubre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: var(--image-filter);
    position: relative;
}

#encuentra-container picture::before{
    position: absolute;
    content: 'NO,\aNO ES,\aUN PUTO\a BLOG MÁS';
    white-space: pre-line;
    top: 10%;
    left: 5%;
    color: var(--color-green-letter);
    font-size:4.3em;
    font-weight: bold;
    line-height: 1.6em;
    z-index: 2;
}

#contacta-container picture{
    background-image: url('../images/home_page/mujer_nadando-contacta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#encuentra-container .line-section-home, #contacta-container .line-section-home  {
    height: inherit;
    width: 0.3em;
    background-color: var(--color-font);
}

#encuentra-container div:nth-child(3), #contacta-container div:nth-child(3) {
    display: flex;
    padding: 2em;
    line-height: 3em;
    flex-direction: column;
    justify-items: center;

}

#encuentra-container div:nth-child(3) p, #contacta-container p{
    margin-top: 2em;
    font-size: 2rem;
    flex-grow: 1;
}

.button-pages{
    width: 50%;
    height: 6vh;
    align-self: flex-end;
    border: 3px solid;
    background-color: var(--color-bck);
    border-radius: 59px;
    border-color: var(--color-green-letter);
    color : var(--color-font);
    font-size: 1rem;
    font-weight: bold;
}

.button-pages:hover{
    color: rgb(5,5,5);
    background-color: var(--color-green-letter);
    transition: background-color 0.3s ease;
}

    /* media tablet */
    @media (max-width: 1024px){
        /* Comportamiento físico */
        #encuentra-container, #contacta-container {
            width: 100vw;
            height: auto;
            flex-wrap: wrap;
        }
        #contacta-container{
            flex-direction: row;
        }
        /* Imagen fondo pictures */
        #encuentra-container picture, #contacta-container picture{
            width: 100%;
            height: 100vh;
            background-clip: content-box;
        }

        #encuentra-container div, #contacta-container div{
            width: 100%;
        }
        /*Línea horizontal*/
        #encuentra-container .line-section-home, #contacta-container .line-section-home  {
            height: 0.2em;
            width: 100%;
            background-color: var(--color-font);
        }
        #encuentra-container div:nth-child(3), #contacta-container div:nth-child(3){
            height: 62vh;
        }
        #encuentra-container div:nth-child(3) p, #contacta-container p{
            font-size: 2rem;
        }
        .button-pages{
            width: 50%;
            height: 6vh;
            font-size: 1.2rem;

        }

        /* Media móbil */
        @media (max-width: 600px) {
            #encuentra-container div:nth-child(3) p, #contacta-container p{
                font-size: 1.7rem;
                font-weight: bold;
            }
            .button-pages{
                width: 70%;
                height: 6vh;
                font-size: 1rem;
            }
        }

        @media (max-width: 430px) {
            #encuentra-container picture, #contacta-container picture{
                height: 80vh;
            }
            #encuentra-container, #contacta-container{
                padding: 0em 0em;

            }
            #encuentra-container picture::before{
                top: 7%;
                font-size:4em;
            }

            #encuentra-container div:nth-child(3){
                height: 70vh;
            }
            #contacta-container div:nth-child(3){
                height: 50vh;
            }
            #encuentra-container div:nth-child(3) p, #contacta-container p{
                font-size: 1.3em;
            }
            .button-pages{
                width: 55%;
               font-size: 1rem;

            }
            
            
        }
        
    }





