@import url("components/header_footer.css");

:root{
    --color-fondo: #FFFCF2;
    --color-detalle-verde: #DDFB32;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--color-fondo);
}



/*
Tablet 1024
movil 600
*/